/* ///////////////// CONTACT FORM///////////// */

/* ///////BUTTON///// */
#contact_modal {
  display: none;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  font-family: "DM Sans", sans-serif;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.contact_button:hover,
.contact_button:focus {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

/* /////////FORM//////// */
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  animation: fadeIn 0.3s ease-in-out forwards;
  gap: 50px;
}

.modal_header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 100%;
}

.contact_me {
  grid-column: 1 / span 2;
}

.modal_header img {
  cursor: pointer;
  grid-column: 3 / span 1;
  justify-self: end;
}

.modal_form_name {
  grid-column: 1 / span 3;
}

.modal header h2 {
  font-size: 4rem;
  font-weight: normal;
}

form {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

form textarea {
  width: 100%;
  border-radius: 5px;
  height: 150px;
  resize: none;
  padding: 10px;
}

form span {
  /* color: var(--color-dark); */
  color: var(--color-primary);
  font-size: clamp(12px, 1.6vw, 22px);
}

form input:invalid:focus,
form textarea:invalid:focus {
  outline: 2px solid var(--color-primary);
}
form .contact_button:hover {
  background-color: green;
}

.invalid {
  outline: 2px solid var(--color-primary);
}

.valid {
  outline: 2px solid green;
}

/* Styles for larger screens, like tablets */
@media screen and (max-width: 1510px) {
  .modal header h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1240px) {
  .modal {
    /* width: 40%; */
    padding: 15px;
    gap: 40px;
  }
  .modal header h2 {
    font-size: 42px;
  }
  form label {
    font-size: 24px;
  }

  form input {
    height: 45px;
  }

  form input,
  form textarea {
    max-width: none;
    font-size: 24px;
  }
  .modal header img {
    margin-left: 80px;
  }
}

@media screen and (max-width: 962px) {
  .modal {
    gap: 20px;
  }
  form div {
    margin-bottom: 0;
  }
  .modal header h2 {
    font-size: 36px;
  }
  form label {
    font-size: 18px;
  }
  form input,
  form textarea {
    font-size: 18px;
  }
  form textarea {
    max-height: 100px;
  }
  .modal header img {
    width: 32px;
    height: 32px;
  }
  form .contact_button {
    margin-top: 5px;
    height: 40px;
    width: 90px;
    font-size: 18px;
  }
}

@media screen and (max-width: 838px) {
  .modal {
    width: 60%;
  }

  .modal header h2 {
    font-size: 34px;
  }
  .modal header img {
    margin-left: 70px;
  }
}
/* Styles for smaller screens, like mobile devices */
@media screen and (max-width: 720px) {
  .modal {
    gap: 0;
    width: 90%;
  }
  .modal header {
    flex-direction: row;
    /* align-items: left; */
    gap: 0;
  }
  .modal header h2 {
    font-size: 28px;
  }
  .modal header img {
    /* margin-left: 0; */
    width: 24px;
    height: 24px;
  }
  .modal header {
    margin-bottom: 0;
    margin-top: 0;
  }
  form div {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    width: 100%;
  }
  .modal header h2 {
    font-size: 24px;
  }
}
/* //////////////USER PRESENTATION /////////////////////// */
.photograph-header {
  background-color: var(--color-light-medium);
  height: 300px;
  margin: 0 100px;
  position: relative;
  margin-bottom: 50px;
}

.photograph-header article {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
}

.photograph-header article a {
  text-decoration: none;
  pointer-events: none;
}

.photograph-header article a .photographer_name {
  color: var(--color-tertiary);
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
}

.photograph-header article a .photographer_thumbnail {
  position: absolute;
  right: 0;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  top: 50%;
  transform: translateY(-50%);
}

.photograph-header article .photographer_location {
  color: var(--color-primary);
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.photograph-header .photographer_tagline {
  color: var(--color-dark-gray);
  font-size: 18px;
}

/* display none for the pricetag */
.photograph-header .photographer_price {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.photograph-header button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ///////////////////////// Price TAG/////////////////// */

.portofolio aside {
  position: sticky;
  bottom: 0;
  left: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
  width: 25%;
  padding: 20px;
  margin-top: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 700;
  font-size: clamp(20px, 2vw, 24px);
  background-color: var(--color-secondary);
}
.photographer_likes .fas {
  margin-left: 0.5rem;
}
/* //////////////////PORTOFOLIO AREA /////////////////// */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.gallery_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gallery_card a {
  border-radius: 5px;
  overflow: hidden;
}

.gallery_card a figure {
  /* height: 260px; */
  transition: all 0.2s ease-in-out;
}

.gallery_card a:hover figure {
  transform: scale(1.05);
}

/* on focus the outline is colored - this helps the accesibility part */
.gallery_card a:focus:not(:hover) {
  outline: 2px solid var(--color-secondary);
}

.gallery_thumbnail {
  width: 350px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}

.gallery_card figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.gallery_card figcaption h2 {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 400;
  max-width: 270px;
}

.gallery_card .nbLike {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 400;
}

.gallery_card figcaption div {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-primary);
  font-size: clamp(1.8rem, 2vw, 2.2rem);
}

.btn_like {
  border-radius: 5px;
  padding: 0 1px;
  font-weight: 400;
  font-size: clamp(1.8rem, 2vw, 2.4rem);
  color: var(--color-secondary);
}

.btn_like:focus-visible:not(:hover) {
  outline: 2px solid var(--color-secondary);
}

.liked {
  color: var(--color-primary);
}

/* ///////////// PORTOFOLIO FILTER /////////////////// */
.portofolio_filter {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
  margin-bottom: 50px;
  margin-left: 4%;
}

h2 .trier_par {
  font-size: 18px;
  font-weight: 700;
}

.filter_section {
  position: relative;
  height: 100%;
}

.dropdown {
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown_content {
  max-height: 0;
  background-color: var(--color-primary);
  transition: max-height 0.1s ease-in-out;
}

.dropdown_content li {
  position: relative;
  width: 150px;
}

.dropdown_content li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 1px;
  background-color: var(--color-light);
}

.btn_drop,
.dropdown_content li button {
  height: 50px;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-light);
}

.btn_drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  background-color: var(--color-primary);
}

.dropdown_content li button {
  width: 100%;
  text-align: left;
}

.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.curtain_effect {
  max-height: 200px;
}

/* //////////////LIGHTBOX///////////*/
.wrapper {
  z-index: 3000;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.lightbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 90%;
  max-height: 1000px;
  background-color: var(--color-light);
  padding: 25px 60px 0;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-150px);
  animation: fadeIn 0.3s ease-in-out forwards;
}
.lightbox_media {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.lightbox_media figcaption {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  color: var(--color-primary);
}

.lightbox_media img,
.lightbox_media video {
  width: 100%;
  height: calc(100% - 50px);
}

.lightbox_media video:focus {
  outline: 2px solid var(--color-primary);
}

.btn_close_lightbox {
  z-index: 100;
  position: absolute;
  top: 25px;
  right: 5px;
}
.btn_close_lightbox img {
  color: var(--color-primary);
}

.btn_close_lightbox::before {
  font-size: 72px;
  color: var(--color-primary);
}

.btn_previous,
.btn_next {
  z-index: 100;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  transform: translateY(-50%);
  padding: 5px;
}

.btn_next {
  right: 10px;
}

.btn_previous {
  left: 10px;
}

.btn_next::before,
.btn_previous::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: clamp(3rem, 6vw, 5rem);
  color: var(--color-primary);
}

.btn_next::before {
  content: "\f054";
}

.btn_previous::before {
  content: "\f053";
}

.btn_previous:focus-visible:not(:hover),
.btn_next:focus-visible:not(:hover) {
  outline: 2px solid var(--color-primary);
}

.btn_previous:hover::before,
.btn_next:hover::before,
.btn_close_lightbox:hover::before {
  color: var(--color-secondary);
}
.btn_next.active::before,
.btn_previous.active::before,
.btn_close_lightbox.active::before {
  color: var(--color-secondary);
}

/* ANIMATION */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet styles */
@media screen and (max-width: 1134px) {
  .photograph-header {
    padding-bottom: 30px;
  }
  .gallery_thumbnail {
    width: 320px;
    height: 250px;
  }
  .gallery_card figcaption h2 {
    max-width: 200px;
  }
  .photograph-header button {
    top: 85%;
    left: 120px;
  }
  .photograph-header .contact_button {
    font-family: inherit;
    font-size: 18px;
    height: 50px;
    width: 150px;
  }
  .photograph-header article a .photographer_thumbnail {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .gallery_thumbnail {
    width: 300px;
    height: 230px;
  }
  .photograph-header button {
    top: 80%;
    left: 95px;
  }

  .photograph-header {
    margin: 0 50px 20px 50px;
    padding-bottom: 0;
    height: 250px;
  }

  .photograph-header article {
    position: relative;
    top: 40%;
    margin: 0 20px; /* Adjust margin for tablet */
  }

  .photograph-header article a .photographer_name {
    font-size: 42px; /* Adjust font size for tablet */
  }
  .portofolio_filter h2 {
    font-size: 22px;
  }
}

/* Mobile styles */
@media screen and (max-width: 720px) {
  .portofolio aside {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    justify-content: center;
    width: 100%;
  }
  .gallery {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .gallery_card figcaption h2 {
    font-size: 18px;
  }
  .gallery_card .nbLike {
    font-size: 18px;
  }
  .fas {
    font-size: 20px;
  }

  .photographer_header_logo {
    margin-bottom: 0;
  }

  .photograph-header {
    margin: 0;
    padding: 20px;
  }

  .photograph-header article {
    margin: 0 10px;
  }

  .photograph-header article a .photographer_name {
    font-size: 24px;
  }

  .photograph-header article a .photographer_thumbnail {
    height: 100px;
    width: 100px;
  }

  .photograph-header button {
    top: 75%;
    left: 100px;
  }
  .photograph-header .contact_button {
    font-family: inherit;
    font-size: 16px;
    height: 40px;
    width: 140px;
  }

  .lightbox {
    padding: 10px 10px 0;
  }

  .btn_close_lightbox {
    top: 10px;
    right: 10px;
    font-size: 8px;
  }

  .lightbox_media figcaption {
    height: 30px;
  }

  .lightbox_media img,
  .lightbox_media video {
    height: calc(100% - 30px);
  }

  .btn_next::before,
  .btn_previous::before,
  .btn_close_lightbox::before {
    color: var(--color-light);
    -webkit-text-stroke: 0.5px #000;
  }
}

@media screen and (max-width: 500px) {
  .portofolio_filter {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .trier_par {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .filter_section {
    margin-right: 150px;
  }
  .filter_section button {
    height: 40px;
    font-size: 18px;
  }

  .photograph-header {
    margin: 0 0 20px 0;
    padding: 0;
  }
  .photograph-header article {
    top: 65%;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 0;
  }
  .photograph-header article .photographer_location {
    font-size: 18px;
    margin: 0;
  }
  .photograph-header article a .photographer_thumbnail {
    top: -115%;
    left: 50%;
    transform: translateX(-50%);
  }
  .photograph-header .photographer_tagline {
    font-size: 16px;
  }
  .photograph-header article a .photographer_name {
    font-size: 22px;
  }

  .photograph-header button {
    top: 87%;
    left: 50%;
  }
}

@media screen and (max-width: 320px) {
  .gallery_card {
    width: 100%;
  }
  .gallery_card figcaption {
    justify-content: space-around;
    gap: 0;
  }
  .gallery_card figcaption h2 {
    max-width: 160px;
  }
}
