#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header {
  position: relative;
}

.photograph-header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 50px;
}

.photograph-header article a {
  text-decoration: none;
  text-align: center;
  pointer-events: none;
}

.photograph-header article h2 {
  margin: 0;
  color: #d3573c;
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photograph-header article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photograph-header article div {
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
}

.photograph-header article div h3 {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.photograph-header .photographer_tagline {
  color: #525252;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.photograph-header .photographer_price {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.photograph-header button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /////////////////// PORTOFOLIO SECTION ///////////// */

.photographer-media-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}
.photographer-media-section figure .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.photographer-media-section figure .info h2 {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  max-width: 220px;
}

.photographer-media-section figure .info .likes {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.photographer-media-section figure .info .span_likes {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.photographer-media-section figure .info span img[alt="coeur"] {
  width: 21px;
  height: 24px;
}
.photographer-media-section figure .info button {
  background: none;
  border: none;
  padding: 0;
}

.photographer-media-section figure .image,
.photographer-media-section figure .video {
  /* margin-top: 100px; */
  width: 350px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}
/* //////////////////////TOGGLE BUTTON ///////////////// */

.sort-toggle {
  margin-left: 80px;
  display: flex;
  gap: 10px;
  position: relative;
}
.sort-toggle .trierPar {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.sort-toggle .dropdown {
  border-radius: 5%;
  overflow: hidden;
  position: absolute;
  left: 80px;
}

.dropdown button {
  height: 50px;
  background-color: #901c1c;
  color: white;
  border: none;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  width: 170px;
  border-radius: 5px;
  gap: 0px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.separate {
  height: 1.5px;
  flex-shrink: 0;
  background-color: white;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5px;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.chevron {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.dropdown .dropdown-button .fa-chevron-up {
  display: none;
}

/* ////////////////////////////////////////// cotation */

.cotation {
  position: fixed;
  bottom: -3px;
  right: 2%;
  width: 376px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #db8876;
}
